/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*
||||||||||||||||||||||||||||||||||||||||
|||||STYLE BEGINS BELOW
||||||||||||||||||||||||||||||||||||||||
*/

html{
	height:100%;
	width:100%;
}

body{
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 400;
	height:100%;
	width:100%;
}

.blue-text {
	color: rgb(45, 188, 230);
}


a:hover{
	cursor: pointer;
}

a {
	text-decoration: none;
}

/*
||||||||||||||||||||||||||||||||||||||||
|||||HEADER BEGINS BELOW
||||||||||||||||||||||||||||||||||||||||
*/


.header-background {
	position: relative;
	z-index: 0;
	/*background: url('../images/twoinsoles.jpg') bottom;*/
	background-size: cover;
	height: 600px;
	min-height: 600px;
	/*filter: blur(1.8px);*/
}

.hero-background{
	height: 600px;
	min-height: 600px;
	width: auto;
	background-repeat: no-repeat;
	background-size: cover;
}


/* .header-background-color {
	position: absolute;
	z-index: 1;
	background-size: cover;
	height: 600px;
	width: 100%;
	background-color: rgba(26, 77, 158, 0);
	filter: brightness(.75);
	top:0px;
} */

#hero-text{
	z-index: 3;
	position: absolute;
	/*padding-top: 180px;*/
	padding-left: 5%;
	/*text-align: center;*/
	top: 180px;
	width: auto;
}

#hero-text h1{
	font-size: 60px;
	color: white;
	font-weight: 600;
	text-shadow: 2px 2px 2px black;
	font-variant: small-caps;
	margin-top: 80px;
}

#hero-kicker{
	padding: 70px 0px 0px 20px;
	font-size: 30px;
	color: white;
	font-weight: 600;
	text-shadow: 2px 2px 2px black;
	/*font-variant: small-caps;*/
}




/*
||||||||||||||||||||||||||||||||||||||||
|||||NAV BEGINS BELOW
||||||||||||||||||||||||||||||||||||||||
*/

#nav-mobile{
	position: relative;
	display: block;
  width: 100%;
  height: auto;
  align-items: center;
  background-color: rgba(255,255,255,0.9);
	z-index: 3;
}

.services-button {
	float: right;
	margin-right: 30px;
	font-size: 35px;
	line-height: 20px;
	font-weight: 200;
	transition: .2s;
}

#nav-desktop{
	position: absolute;
	display: none;
  width: 100%;
		max-width: 1400px;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,0.9);
	z-index: 3;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;

}

.nav-logo {
	display: inline-block;
	height: inherit;
	width: 100%;
  align-self: center;
  flex: 1;
  text-decoration: none;
  color: black;
  text-align: center;
  padding-left: 2px;
	/* background: url("../images/logo.png"); */
	background-repeat: no-repeat;
	background-size: contain;
	align-self: center;
	background-color: rgb(84, 136, 216);
}

.nav-logo .home-button{
	margin: 0 auto;
}

.home-button{
	display: inline-block;
	/* background: url("../images/logo.png"); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 120px;
	height: auto;
	margin: 0 auto;
}

#nav-logo p{
	padding-top: 30px;
	align-self: center;
	vertical-align: middle;
}


nav a:hover{
	color: rgb(45, 188, 230);
}

.nav-links{

	display: inline-block;
	align-self: center;
	flex: 1;
	text-decoration: none;
	color: black;
	text-align: center;
	padding-left: 2px;
	z-index: 5;
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.3);
	padding: 20px 0px 20px 0px;
}

.nav-links a{
	color: black;
	float: left;
	padding-left: 10px;
}

.sub-links {
	background-color: rgb(220,220,230);
	display: none;
	transition: 1s;
	text-align: center;
}

.sub-links a{
	text-align: center;
	margin-left: 30px;
	font-size: 15px;
}

nav ul{
  display: flex;
  justify-content: space-around;
  flex:3;
  /*padding-left: 20%;*/
	flex-direction: column;
}

/*
||||||||||||||||||||||||||||||||||||||||
|||||SERVICES SECTION BEGINS BELOW
||||||||||||||||||||||||||||||||||||||||
 */

#services-section{
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 80px 0px;
	height: auto;
	background-color: rgb(235, 240, 255);
}



.services-container {
	width: 100%;
	max-width: 1400px;
	box-sizing: border-box;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 80px 0px;
	height: auto;
	background-color: rgb(235, 240, 255);
	margin: 0 auto;
}

#services-section a{
	margin: 20px;
}


.services-showcase {
	flex: 1;
	flex-wrap: wrap;

	height: 350px;
	margin: 0px;
	min-width: 300px;
	min-height: 400px;
	max-width: 370px;
	max-height: 400px;
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0px 0px 10px -4px rgba(0,0,0,1);
	transition: .2s;
}

.services-showcase:hover {
	box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
	transition: .2s;
}

.services-tophalf {
	width: 100%;
	height: 50%;
}

.wrap {
	position: absolute;
	width: auto;
	max-width: 300px;
	border-bottom: 5px solid rgb(45, 188, 230);
}

.services-title {
	padding-top: 100px;
	position: relative;
	color: white;
	font-size: 40px;
	font-weight: 800;
	text-shadow: 2px 2px 1px black;
}

.isda-negotiations {
	background: url("../images/contract.jpg") top;

	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.training {
	background: url("../images/inhouse.jpg") top;

	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

.recruiting {
	background: url("../images/hero.jpg") top;

	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}





/*
||||||||||||||||||||||||||||||||||||||||
|||||FOOTER BEGINS BELOW
||||||||||||||||||||||||||||||||||||||||
*/

footer {
	height: 400px;
	width: 100%;
	background-color: rgb(47, 61, 84);
	padding-top: 80px;
	color: white;
	border-top: 8px solid rgb(45, 188, 230);
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	max-width: 1400px;
	margin: 0 auto;
}

.footer-col li{
	margin: 10px;
}




/*
DESKTOP VERSION
 */
@media only screen and (min-width : 500px) {
	#nav-mobile {
		display: none;
	}

	.nav-logo {
		max-width: 200px;
	}

	.home-button{
		display: inline-block;
		padding-top: 3px;
		width: 140px
	}

	.nav-links{

		align-items: flex-start;
		border-top: none;
		padding: 0px;
		max-width: 300px;
	}

	.nav-links a{
		color: black;
		float: none;
		padding-left: 10px;
	}

	nav ul{
		flex-direction: row;
	}

	nav ul{
	  display: flex;
	  justify-content: space-around;

	  /*padding-left: 20%;*/
		flex-direction: row;
	}

	.dropdown {
		position: absolute;
		height: 300px;
		width: 300px;
		margin-left: ;
		margin-top: 30px;
	}
	.dropdown ul{
		position: relative;
		display: block;

	}

	.dropdown li {
		border-top: 1px solid rgba(130,130,130,0.3);
		width: 100%;
	}

	.sub-links {
		background-color: rgb(220,220,230);
		display: none;
		transition: 1s;
		text-align: center;
		width: 180px;
	}

	.sub-links a{
		text-align: center;
		font-size: 20px;
		display: block;
		padding: 10px 0px 10px 0px;
		margin: 0px;
	}

}


/*
MOBILE VERSION
  */
@media only screen and (max-width : 500px) {


	#nav-desktop {
		display: none;
	}

}
















/*  */
